<div class="row">
  <div class="list-group-item">   
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{article.title}}</h5>
        {% if article.isOld < 24 %}
            <small>Published {{article.isOld}} hours ago</small>
        {% else %}
            <small>Published {{ (article.isOld / 24) | int }} days ago</small>
        {% endif %}
    </div>
    <p class="mb-1">
        {{article.content}}
        {% if article.url_img !== "" %}
          <img class="artSize" src="{{article.url_img}}" alt="{{article.alt}}">
        {% endif %}
        <small>Author :</small>
        <strong>
          {{article.author}}.
        </strong>
    </p>
    <div class="d-flex w-100 justify-content-between">
        {% if userrole == 1 or userrole == 2 or autorized == 1 %}
          <div class="col-md-12">
            <button class="btn btn-warning btn-sm" onclick="articles.delete({{article.id_article}})">Delete</button>
            {% if userrole == 1 and article.status == 0 %}
              <button class="btn btn-success btn-sm" onclick="articles.publish({{article.id_article}})">Publish</button>
            {% endif %}
            {% if autorized == 1 %}
              <button class="btn btn-warning btn-sm" onclick="articles.edit({{article.id_article}})">Edit</button>
            {% endif %}
          </div> 
        {% endif %}
    </div>
  </div>
  <h5 class="mb-1">Comments</h5>
  {% for comment in comments %}
    <div class="list-group-item">
      <div class="col-md-12"> 
        <p class="mb-1">
          {{comment.comment}}
          <small>Author :</small>
          <strong>
            {{comment.author_comment}}.
          </strong>
        </p>
        {% if userrole == 1 or userrole == 2 %}
          <div class="col-md-12">
              <button class="btn btn-warning btn-sm" onclick="comments.deleteComment({{article.id_article}}, {{comment.id_comment}})">Delete Comment</button>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  <div class="col-md-12">
    <button class="btn btn-primary btn-sm" onclick="comments.showComment()">Add Comment</button>
  </div>  
  <div id="addComment" class="hide">   
    <form name="formAddComment" class="col-md-12 needs-validation" novalidate>
        <div class="col-md-12">
          <label for="name" class="col-sm-2 col-form-label">Comment</label>
          <textarea type="text" class="form-control" name="comment" id="comment" placeholder="Required some content" onkeyup="tools.countCaract(this, 255)" required></textarea>
          <span>characters remaining: <span id="rem_post">255</span></span>
        </div>        
        <div class="col-md-12">
          <button class="btn btn-primary btn-sm" onclick="comments.addComment(event, {{article.id_article}})">Save</button>
        </div>   
    </form>    
  </div>   
</div>