<header class="header parent">
  <h1>Header</h1>
  <div id="whoIs" class="child in">
    
  </div>
  <input type="hidden" id="userIs" value="">
</header>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<nav class="navbar navbar-inverse navbar-light bg-light">
  <ul class="nav navbar-nav">
    <li id="home" class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li id="narticles" class="nav-item in">
      <a class="nav-link" href="/articles">Articles</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li id="nprofil" class="nav-item in">
      <a class="nav-link" id="profil" href="/profil">Profil</a>
    </li>
    <li id="signup" class="nav-item out">
      <a class="nav-link"  href="/signup">Signup</a>
    </li>
    <li id="signin" class="nav-item out">
      <a class="nav-link"  href="/signin">Signin</a>
    </li>
    <li id="logout" class="nav-item in">
      <a class="nav-link"  href="/logout">Logout</a>
    </li>
  </ul>
</nav>
<div id="alarm" class="alert" role="alert">
  <span id="contAlarm"></span>
</div>
